


body {
    margin: 7rem;
    background-color: rgb(214, 235, 235);
    box-shadow: pink;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 11%, rgba(148,187,233,1) 100%);
}


.box1 {
    margin: 3rem;

}

.box2 {
    padding: 2rem;
    margin: 6rem;
   
}

h2 {
    font-size: 50rem;
    color: hotpink;
}

#text {
    font-size: 3rem;
    font-Style: italic;
    text-align: center;
    text-shadow: 4px 6px rgb(193, 181, 95);
    text-rendering: geometricPrecision;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 1rem solid hotpink;
}